.bottomBarBtn{
    background-color: white;
    border: none;
    color: rgb(59, 59, 59);
    margin-left: 1vw;
    margin-right: 1vw;
}

.bottomBarBtn img {
    height: 3vh;
}

.bottomBarContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.45vh;
    width: 100dvw;
}

.bottomBar {
    background-color: white;
    height: 6.45vh;
    width: 100dvw;
}

