.carouselContainer {
    width: 100dvw;
    position: relative;
    display: flex;
    margin-bottom: 2vh;
}

.navL{
    position: relative;
    left: 1dvw;
    z-index: 2;
    box-sizing: border-box;
}

.navR{

    position: relative;
    right: 1dvw;
    z-index: 3;
    box-sizing: border-box;
}

.navLBtn{
    box-sizing: border-box;
    margin-top: 16vh;
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
    background-color: white;
    border: solid 0.2vh rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRBtn{
    box-sizing: border-box;
    margin-top: 16vh;
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
    background-color: white;
    border: solid 0.2vh rgb(192, 192, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevronL{
    height: 2.4vh;
    padding-right: 0dvw;
}

.chevronR{
    height: 2.4vh;
    padding-left: 0dvw;
}

.carouselWrapper{
    margin: 1dvw;
    margin-right: 0vw;
    width: 100dvw;
    overflow: hidden;
}

.carousel{
    transition: transform 0.3s ease-in-out;
    display: flex;
    height: 25vh;
}

.carouselImg {
    height: 20vh;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.carouselItem{
    box-sizing: border-box;
    margin-left: 0.7vh;
    margin-right: 0.7vh;
    border: solid 0.1vw rgb(232, 233, 234);
    background-color: rgb(255,255,255);
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carouselItemTitle{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.7vh;
}

.carouselTitle {
    font-size: min(2.5vh, 170%);
    margin: 0;
    margin-left: 12px;
    padding: 0;
    margin-bottom: 1vh;
}