.topBar {
    width: 100vw;
    border-bottom: 0.3dvh solid lightgray;
}

.topBarContent{ 
    margin-left: 2vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8dvh;
    
}

.title  {
    font-size: 4vh;
}

.loginBtn{
    font-size: 2vh;
    border-radius: 1.5vh;
    padding: 0.7vh;
    border: 0.2vh solid lightgray;
    background-color: white;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
}

.dark{
    color: rgb(53, 53, 53);
}

.homePageMain{
    height: 83.4dvh;
}